.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar.light {
    background-color: #F8F3DE;
    color: black;
}

.navbar.dark {
    background-color: #1D1D1B;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
}

.navbar ul li:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar.light ul li a {
    color: black;
}

.navbar.dark ul li a {
    color: white;
}

.theme-switch {
    border: none;
    background: none;
    cursor: pointer;
}

.logo {
    width: 40px;
}